body {
  background-color: #282c34;
}

label {

  justify-self: end;
}

p {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
